.warranty-right-row{
    justify-content: flex-start;

}
.warranty-main-form{
    justify-content: flex-start;
}


.warranty-main-row input{
    height: 80px;
    margin-bottom: 30px;
}
.warranty-name-botton{
    width: 100%;
    font-weight: 600 !important;
    font-size: 25px !important;
    
}


.textarea_div span{
    justify-self: flex-start;
    align-self: flex-start;
padding: 10px;
font-size: 20px;
color: var(--gray3);

  }
  .textarea_div textarea{
    height: 120px;
    outline: none;
    border-color: rgb(168 168 168 / 55%);
    font-size: 20px;
  }

.warranty-right-row-ok-button{
    align-items: center;
}


.warranty-input-disable{
    pointer-events: none;
    background-color: var(--gray1);
}


.warranty-right-row-ok-button label{
    font-size: 15px;
}

.warranty-dateformat {
    height: -webkit-fill-available;

    font-size: 15px ;
    background-color: var(--gray1);
    border-radius: 7px;
    align-items: center;
}
.allwarranty-button-right{
    justify-content: space-around !important;
}
.warranty-delete-botton{
    width: 30%;
    margin: 0 auto;
}
.productDetailRepair{

}

.repair-form-div{
    height: 800px;
    width: 98%;
    border: 1px solid gray;
    padding: 2px;
}
.repai-form-title{
    padding: 5px;
    border: 1px solid ;
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.repai-form-title  span{
    width: 50%;
    font-size: 15px;
    font-weight: 600;
}
.repair-form-div-sarbarg {
    align-items: center;
}
 .repair-form-div-sarbarg span{

    width: 50%;
    font-size: 15px;
    font-weight: 600;
}

.repair-problem-div{
    margin-right: 20px;
}
.repair-description-div textarea{
    width: 100%;
    border: 1px solid;
    outline: none;
    height: 100px;
}