.warranty-right-row{
    justify-content: flex-start;

}
.warranty-main-form{
    justify-content: flex-start;
}


.warranty-main-row input{
    height: 80px;
    margin-bottom: 30px;
}
.warranty-name-botton{
    width: 100%;
    font-weight: 600 !important;
    font-size: 25px !important;
    
}


.textarea_div span{
    justify-self: flex-start;
    align-self: flex-start;
padding: 10px;
font-size: 20px;
color: var(--gray3);

  }
  .textarea_div textarea{
    height: 120px;
    outline: none;
    border-color: rgb(168 168 168 / 55%);
    font-size: 20px;
  }

.warranty-right-row-ok-button{
    align-items: center;
}


.warranty-input-disable{
    pointer-events: none;
    background-color: var(--gray1);
}


.warranty-right-row-ok-button label{
    font-size: 15px;
}

.warranty-dateformat {
    height: -webkit-fill-available;

    font-size: 15px ;
    background-color: var(--gray1);
    border-radius: 7px;
    align-items: center;
}
.allwarranty-button-right{
    justify-content: space-around !important;
}
.warranty-delete-botton{
    width: 30%;
    margin: 0 auto;
}
.productDetailRepair{

}

.repair-form-div{
    margin: 0 auto;
    height: 740px;
    width: 98%;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
}
.repai-form-title{
    padding: 5px;
    border: 1px solid ;
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.repai-form-title  span{
    width: 50%;
    font-size: 15px;
    font-weight: 600;
}
.repair-form-div-sarbarg {
    align-items: center;
}
 .repair-form-div-sarbarg span{

    width: 50%;
    font-size: 15px;
    font-weight: 600;
}


.repair-description-div p{
    /* font-weight: 600; */
font-size: 10px;
    border: 1px solid;
}
.repair-problem-divaccdevices{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.repair-problem-divaccdevices li{
    flex-grow: 1;
}


.repair-span span{
    font-size: 12px;
}
.repair-footer{
    padding: 0;
    padding-right: 15px;
    font-size: 12px;
}
.repair-footer-personel{
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repair-descriptionb-div p{
font-size: 8px;
}

.repair-footer-maindiv{
    position: relative;
}
.repiar-footer-span{
position: absolute;
left: 10px;
font-size: 12px;
/* bottom: 10px */
}

.repair-form-div-main{
}