.tablemin-div {
  margin-top: 60px;
  padding: 10px;
  text-align: center;
  font-size: 1cqi;
  table-layout: fixed !important;
  width: 100%;
}

.tablemin-div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.TableMin-h4 {
  color: var(--black0);
  width: 180px;
}

.tablemin-div td {
  height: 100px;
}

.tablemin-div th {
  width: 100px !important;
}
