.Outlet-div {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.cmsindex-maincontainer-div-hidden {
  display: none;
  margin-top: 10px;
}

.cmsindex-countertile {
  min-height: 150px;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.cmsindex-countertile {
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #9395ab #eee;
}

.cmsindex-countertile::-webkit-scrollbar {
  width: 8px;
}

.cmsindex-countertile::-webkit-scrollbar-thumb {
  background: #9395ab;
  border-radius: 5px;
}

.cmsindex-charts-div {
  max-width: 600px;
}

.cmsindex-charts-div div {
  height: fit-content;
}

@media only screen and (max-width: 980px) {
  .cmsIndex-Date-Div {
    display: none;
  }
}
