.Outlet-div {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.cmsindex-maincontainer-div-hidden {
  display: none;
  margin-top: 10px;
}

.cmsindex-countertile {
  min-height: 150px;
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.cmsindex-countertile {
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #9395ab #eee;
}

.cmsindex-countertile::-webkit-scrollbar {
  width: 8px;
}

.cmsindex-countertile::-webkit-scrollbar-thumb {
  background: #9395ab;
  border-radius: 5px;
}

.cmsindex-charts-div {
  max-width: 600px;
}

.cmsindex-charts-div div {
  height: fit-content;
}

.cmsindex-card-span{
  cursor: pointer;
         color: #fff;
font-size: 18px;
    margin-left: 10px;
    align-items: center;
    border-radius: 20px;
    height: 100px;
    background: #31bb43;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #31bb43 inset,
                  -5px -5px 10px #ffffff inset;
}
  .box-cmsindex{ 

    /* animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s 1 alternate; */
    /* animation-fill-mode: forwards; */
  }

@media only screen and (max-width: 980px) {
  .cmsIndex-Date-Div {
    display: none;
  }
}
