.task-main-div {
  margin-top: 15px;
}
.addTaskselect {
  border: 1px solid rgba(168, 168, 168, 0.550000011920929);
  border-radius: 4px;
}
.addTask-select-span {
  position: relative;
}
.addTask-select-span span {
  bottom: -20px;
  right: 0;
  position: absolute;
  width: 200px;
  font-size: 12px;
  color: red;
}
.addTask-span-error {
  width: 200px;
  font-size: 12px;
  color: red;
}
.addTask-span-text {
  color: var(--black0);
}

@media (max-width: 768px) {
  .task-main-div {
    margin-top: 60px;
  }
  .addTask-addButt {
    width: 99%;
    margin: 5px 5px;
  }
}
